<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FN{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <header class="site-header">
        <nav class="sidebar-menu">
            <button id="menu-toggle" class="menu-toggle"><i class="fas fa-bars"></i></button>
            <div id="sidebar" class="sidebar">
                <button id="collapse-sidebar" class="collapse-button"><i class="fas fa-times"></i></button>
                <ul>
                    <li><a href="{% url 'home' %}">HOME</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>
                    <li><a href="{% url 'tags' %}">Tags</a></li>
                    <li><a href="{% url 'profile_self' %}">Profile</a></li>
                    <li><a href="{% url 'create_post' %}">Post</a></li>
                    <li><a href="{% url 'notifications' %}">Notifications</a></li>
                </ul>
            </div>
        </nav>
        <div class="logo-container">
            <a href="{% url 'home' %}">  <!-- Assuming 'home' is your home page URL -->
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="profile-container">
            {% if user.is_authenticated %}
                <a href="{% url 'profile_self' %}" class="profile-link" title="Profile">
                    <i class="fa-solid fa-user-circle"></i>
                </a>
                <form action="{% url 'logout' %}" method="POST" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="login-link">Login</a>
            {% endif %}
        </div>
    </header>

    <main class="site-main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2024 VoxPop. All rights reserved.</p>
        </div>
    </footer>

    {% block extra_js %}
    {% endblock %}
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
        });
        // Collapse Sidebar
        document.getElementById('collapse-sidebar').addEventListener('click', function () {
            document.getElementById('sidebar').classList.remove('active');
        });
    </script>
    
</body>
</html>