{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">

{% endblock %}

{% block content %}
<div class="profile-header">
    <img src="{% if user_profile.profile_image %}{{ user_profile.profile_image.url }}{% else %}{% static 'default/default_img.webp' %}{% endif %}" alt="Profile Image" class="profile-image">
    <h2>{{ user_profile.name|default:user_profile.username }}</h2>
    {% if user_profile.bio %}
        <p class="bio">{{ user_profile.bio }}</p>
    {% endif %}
    <div class="profile-info">
        {% if user_profile.location %}
            <p>Location: {{ user_profile.location }}</p>
        {% endif %}
        {% if user_profile != request.user and request.user.is_authenticated %}
            {% if is_following %}
                <form action="{% url 'unfollow' username=user_profile.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="unfollow-button">Unfollow</button>
                </form>
            {% else %}
                <form action="{% url 'follow' username=user_profile.username %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="follow-button">Follow</button>
                </form>
            {% endif %}
        {% endif %}
        <div class="profile-stats">
            <a href="{% url 'following' user_profile.username %}">Following: {{ user_profile.following_count }}</a>
            <a href="{% url 'followers' user_profile.username %}">Followers: {{ user_profile.followers_count }}</a>
        </div>
        {%if post_count > 0%}
            <p>Number of Posts: {{ post_count }}</p>
        {%else%}
            <p>No posts</p>
        {%endif%}
    </div>
</div>

<div class="profile-posts">
    <section class="blog-section">
        <div class="home-heading">
            <h2>Articles</h2>
        </div>
        {% for post in posts %}
            <article class="post clickable" data-post-id="{{ post.id }}">
                <div class="post-header">
                    <span class="post-author">
                        <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>
                    </span>
                    <h3>{{ post.title }}</h3>
                    <span class="post-timestamp"> {{ post.date_posted }}</span>
                </div>
                <div class="tags">
                    {% for tag in post.tags.all %}
                        <a href="{% url 'tag_detail' tag.slug %}" class="tag">#{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="post-content">{{ post.content }}</div>
                <div class="post-images">
                    {% for image in post.images.all %}
                        <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
                    {% endfor %}
                </div>
                <div class="post-actions">
                    <form action="{% url 'like_post' post.id %}" method="POST" class="like-form">
                            {% csrf_token %}
                            <button type="submit" class="like-button {% if post in request.user.liked_posts %}liked{% endif %}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="like-count">{{ post.likes_count }}</span>
                            </button>
                    </form>
                    <a href="#" class="comment-btn" data-post-id="{{ post.id }}"><i class="fa fa-comment"></i> {{ post.comments_count }}</a>
                    <a href="{% url 'post_detail' post.slug %}" class="action"><i class="fa fa-share"></i> Details</a>
                </div>
            </article>
        {% empty %}
            <p>No posts yet. Check back soon!</p>
        {% endfor %}
        <!-- Modal for comments -->
        <div id="commentModal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <h2>Comments for Post</h2>
                <div id="commentsContainer"></div>
                <form id="newCommentForm" data-post-id="{{ post.id }}">
                    {% csrf_token %}
                    <textarea name="comment_text" placeholder="Write your comment..." required></textarea>
                    <button type="submit">Submit Comment</button>
                </form>
            </div>
        </div>
    </section>
</div>

{% if user == user_profile %}
    <a href="{% url 'edit_profile' user_profile.username %}" class="btn-edit-profile">Edit Profile</a>
{% endif %}
{% if request.user == user %}
        <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
{% endif %}

{% endblock %}

{% block extra_js %}
    {% comment %} <script src="{% static 'js/like_post.js' %}"></script> {% endcomment %}
    <script src="{% static 'js/extra.js' %}"></script>
{% endblock 