{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">


{% endblock %}
{% block content %}
    <div class="search-page">
        <h1>Search</h1>
        <form method="get" action="{% url 'search' %}">
            {{ form.as_p }}
            <button type="submit">Search</button>
        </form>

        {% if query %}
            <h2>Results for "{{ query }}"</h2>

            {% if post_results or user_results or tag_results %}
                {% if post_results %}
                    <h3>Posts</h3>
                    <ul>
                    {% for result in post_results %}
                        <li>
                            <a href="{% url 'post_detail' result.slug %}">{{ result.title }}</a> by {{ result.author.username }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if user_results %}
                    <h3>Users</h3>
                    <ul>
                    {% for user in user_results %}
                        <li>
                            <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {% if tag_results %}
                    <h3>Tags</h3>
                    <ul>
                    {% for tag in tag_results %}
                        <li>
                            <a href="{% url 'tag_detail' tag.slug %}">#{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}