<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="w85RdY4UdxMDa-KnZCzu1s6pEfYjiVfAx-HdCJrCJAI" />
    <title>VP</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="site-header">
        <nav class="sidebar-menu">
            <button id="menu-toggle" class="menu-toggle"><i class="fas fa-bars"></i></button>
            <div id="sidebar" class="sidebar">
                <button id="collapse-sidebar" class="collapse-button"><i class="fas fa-times"></i></button>
                <ul>
                    <li><a href="{% url 'about_project' %}">About the Project</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>
                    <li><a href="{% url 'tags' %}">Tags</a></li>
                    <li><a href="{% url 'profile_self' %}">Profile</a></li>
                    <li><a href="{% url 'create_post' %}">Post</a></li>
                    <li><a href="{% url 'notifications' %}">Notifications</a></li>
                </ul>
            </div>
        </nav>
        <div class="logo-container">
            <a href="{% url 'home' %}">  <!-- Assuming 'home' is your home page URL -->
                <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="profile-container">
            {% if user.is_authenticated %}
                <a href="{% url 'profile_self' %}" class="profile-link" title="Profile">
                    <i class="fa-solid fa-user-circle"></i>
                </a>
                <form action="{% url 'logout' %}" method="POST" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="login-link">Login</a>
            {% endif %}
        </div>
    </header>


    <div class="container">
        <section class="blog-section">
            <div class="home-heading">
                <h2>Posts</h2>
                <a href="{% url 'create_post' %}" class="btn-create-post">Create Article</a>
            </div>
            {% for post in posts %}
                <article class="post clickable" data-post-id="{{ post.id }}">
                    <div class="post-header">
                        <span class="post-author">
                            <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>
                        </span>
                        <h3>{{ post.title }}</h3>
                        <span class="post-timestamp"> {{ post.date_posted }}</span>
                    </div>
                    <div class="tags">
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tag_detail' tag.slug %}" class="tag">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    {% if post.summary %}
                    <div class="post-content">{{ post.summary|truncatechars:300 }}</div>
                    {% else %}
                    <div class="post-content">{{ post.content|truncatechars:300 }}</div>
                    {% endif %}
                    <div class="image-grid {% if post.images.count == 1 %}one-image{% elif post.images.count == 2 %}two-images{% elif post.images.count == 3 %}three-images{% elif post.images.count == 4 %}four-images{% endif %}">
                        {% for image in post.images.all %}
                            <img src="{{ image.image.url }}" alt="{{ image.image.name }}" class="post-image">
                        {% endfor %}
                    </div>
                    <div class="post-actions">
                        <form action="{% url 'like_post' post.id %}" method="POST" class="like-form">
                            {% csrf_token %}
                            <button type="submit" class="like-button {% if post.liked_by_user %}liked{% endif %}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <span class="like-count">{{ post.likes_count }}</span>
                            </button>
                        </form>
                        <a href="#" class="comment-btn" data-post-id="{{ post.id }}"><i class="fa fa-comment"></i> {{ post.comments_count }}</a>
                        <a href="{% url 'post_detail' post.slug %}" class="action"><i class="fa fa-share"></i> Details</a>
                    </div>
                </article>
            {% empty %}
                <p>No posts yet. Check back soon!</p>
            {% endfor %}
            <!-- Modal for comments -->
            <div id="commentModal" class="modal">
                <div class="modal-content">
                    <span class="close">×</span>
                    <h2>Comments for Post</h2>
                    <div id="commentsContainer"></div>
                    <form id="newCommentForm" data-post-id="{{ post.id }}">
                        {% csrf_token %}
                        <textarea name="comment_text" placeholder="Write your comment..." required></textarea>
                        <button type="submit">Submit Comment</button>
                    </form>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <p>© 2024 VoxPop. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/like_post.js' %}"></script>
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            document.getElementById('sidebar').classList.toggle('active');
        });
        // Collapse Sidebar
        document.getElementById('collapse-sidebar').addEventListener('click', function () {
            document.getElementById('sidebar').classList.remove('active');
        });
    </script>
    <script src="{% static 'js/extra.js' %}"></script>