{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{% block content %}
<style>
    .post-content h3 {
    margin-top: 20px;
}
.post-content p {
    margin-bottom: 15px;
}
.summary {
    margin: 10px 0;
}
</style>
<div class="post-detail">
    <h2>{{ post.title }}</h2>
    <p>By: <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a></p>
    <div class="tags">
        {% for tag in post.tags.all %}
            <a href="{% url 'tag_detail' tag.slug %}" class="tag">#{{ tag.name }}</a>
        {% endfor %}
    </div>
    <p class="summary">{{ post.summary }}</p>
    <!-- Display subheadings and paragraphs -->
    <div class="post-content">
        {%if post.post_subheadings.all %}
            {% for subheading in post.post_subheadings.all %}
                <h3>{{ subheading.title }}</h3>
                {% for article in subheading.articles.all %}
                    <p>{{ article.content }}</p>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No subheadings found</p>
        {% endif %}
    </div>

    {% for image in post.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.image.name }}">
    {% endfor %}

    <div class="post-meta">
        <small>Posted on {{ post.date_posted }} at {{ post.time_posted }}</small>
    </div>
    <div class="post-actions">
        <form action="{% url 'like_post' post.id %}" method="POST" class="like-form">
            {% csrf_token %}
            <button type="submit" class="like-button {% if post in request.user.liked_posts %}liked{% endif %}">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="like-count">{{ post.likes_count }}</span>
            </button>
        </form>
    </div>
    <div id="comments">
        <h3>Comments ({{ post.comments_count }})</h3>
        {% for comment in comments %}
            <p>{{ comment.author.username }}: {{ comment.content }} - {{ comment.created_date }}</p>
               <form action="{% url 'like_comment' comment.id %}" method="POST" style="display:inline;">
                   {% csrf_token %}
                   <button type="submit" class="comment-like-button {% if comment in request.user.comment_likes %}liked{% endif %}">
                       <i class="fa fa-thumbs-up"></i>
                   </button>
               </form>
               <span class="comment-like-count">{{ comment.likes_count }}</span>
        {% endfor %}
        <form method="post" action="{% url 'post_detail' post.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit Comment</button>
        </form>
    </div>

    <!-- Add a link back to the list of posts -->
    <a href="{% url 'home' %}" class="back-to-list">Back to Posts</a>
    <script src="{% static 'js/like_post.js' %}"></script>
</div>
{% endblock %}